body {
    margin: 0;
    padding: 0;
    display: inline-block'
}
#weatherDashboard {
    background-color: darkslategrey;
    font-size: 32px;
    color: white;
    text-align: center;
    height: 75px;
    padding-top: 15px;
    padding-left: 22%;
    display:inline-block'
}

aside {
    height: 815px;
    width: 30%;
    background-color:whitesmoke;
    float: left;
}

#searchCity {
    padding-top: 8px;
    padding-left: 13px;
    font-size: 20px;
}

.searching {
    padding-left: 13px;
    padding-top: 5px;
}

#citySearchInput {
    padding-right: 10px;
    margin-left: -5px;
}

#cityInfo {
    height: 395px;
    width: 68%;
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: whitesmoke;
    display: inline-block;
}

#forecast {
    height: 415px;
    width: 65%;
    display: inline-block;
    padding-left: 15px;
}

#titleFiveDayForecast {
    margin-left: 12px;
    margin-bottom: 5px;
    font-size: 24px;
    margin-top: 20px;
}

.card {
    display: inline-block;
    margin-left: 8px;
}

.card-body {
    margin-bottom: 10px;
}

.card-text {
    margin-top: 80px;

}